@import url(./common.less);

.main {
  background-color: #f5f5f5;

  .seach {
    display: flex;
    align-items: center;
    height: 10.6667vw;
    background-color: #fff;

    .seach-left {
      width: 74.1333vw;
      height: 6.9333vw;
      box-sizing: border-box;
      line-height: 6.4vw;
      margin-left: 3.2vw;
      padding-left: 3vw;
      border: .2667vw solid red;
      border-radius: 4vw;

      .seach-icon {
        position: relative;
        top: .4vw;
        display: inline-block;
        width: 3.2vw;
        height: 3.33333vw;
        background: url(../img/search_icon.png) center/contain no-repeat;

      }

      .seach-title {
        color: @moreColor;
        font-size: 3.4667vw;
      }
    }

    .sign-in {
      height: 7.2vw;
      line-height: 7.2vw;
      text-align: center;
      padding: 0 1.8667vw;
      margin-left: 2.1333vw;
      border: .0625rem solid #e31436;
      border-radius: 1.0667vw;
      color: #e31436;
    }
  }

  .icon-slider {
    display: flex;

    .item {
      img {
        width: 20vw;
      }
    }
  }

  .subsidy {
    width: 93.6vw;
    height: 44vw;
    margin: 3.2vw;
    border-radius: 3.2vw;
    background-color: #fff;

    .subsidy-time {
      position: relative;
      display: flex;
      height: 10.6667vw;
      padding-left: 3.2vw;
      align-items: center;

      img {
        width: 16.8vw;
      }

      .count-down {
        margin-left: 1.6vw;
        text-align: center;

        .rax-text {
          color: red;
        }

        .time {
          display: inline-block;
          width: 5.3333vw;
          color: #fff;
          background-color: red;
          border-radius: 1.0667vw;
        }
      }

      .subsidy-hf {
        position: absolute;
        right: 5.2vw;
        color: red;

        &::after {
          position: absolute;
          content: '';
          top: 1.4vw;
          width: 1.2vw;
          height: 1.2vw;
          border-color: red red transparent transparent;
          border-style: solid;
          border-width: .2667vw;
          transform: rotate(45deg);
        }
      }
    }

    .subsidy-list {
      display: flex;
      justify-content: space-evenly;

      .item {
        text-align: center;

        img {
          width: 20.93333vw;
          height: 20.93333vw
        }

        .present-price {
          color: red;

          .price {
            font-size: 4vw;
            font-weight: bold;
          }
        }

        .original-price {
          color: @moreColor;
          text-decoration: line-through;
        }
      }
    }
  }

  .tabwrap {
    display: flex;
    margin: 0 2.6667vw;

    .tabwrap-item {
      width: 18.93333vw;
      text-align: center;

      .big-title {
        font-size: 4.2667vw;
        color: #666;
      }

      .desc {
        color: @moreColor
      }
    }

    .active {
      .big-title {
        color: #ff0000;
      }

      .desc {
        color: #fff;
        background-image: linear-gradient(90deg, red, #ff3164);
        border-radius: 2.4vw;
      }
    }
  }

  // .box {
  //   display: flex;
  //   height: 30px;
  //   background-color: red;
  //   .item {
  //     width: 28vw;
  //     height: 30px;
  //     background-color: pink;
  //     border: 1px solid #000;
  //   }
  // }
}