.tabbar {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  text-align: center;
  border-top: 1px solid #ddd;
  background-color: #fff;
  height: constant(safe-area-inset-bottom);
  height: env(safe-area-inset-bottom);
  .tab-item {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 48px;
    }
  }
}